
:root {
    --cyber-dark-blue: #092047;
    --cyber-light-blue: #0b468c;
    --cyber-grey: #a2a5ad;
    --cyber-pink: #ac61b9;
    --cyber-purple: #63345e;
    --cyberpunk-pink: #F000DB; 
    --cyberpunk-purple: #621882; 
    --cyberpunk-purple-test: #14031b; 
    --cyberpunk-blue: #133DC9; 
    --cyberpunk-dark-blue: #0A172D; 
    --cyberpunk-black: #061024; 

    --cyberpunk-teal: #0BC4CF; 

    
    --earthy-grey: #8c9086;
    --earthy-brown: #160c04;
    --earthy-darkbrown: #0e0804;
    --earthy-tan: #e6ceb5;
    --earthy-orange: #c16632;
    --earthy-blue: #5fc7474;
}

.nav-bar {
    background-color: var(--earthy-brown);
    /* background: black; */
    width: 60px;
    height: 100%;
    position: fixed;
    /* top: 0; */
    /* bottom: 0; */
    min-height: 500px;
    padding-left: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



.email {
    text-decoration: inherit;
    color: var(--cyber-grey);
    width: fit-content;
    position: relative;
    top: -30px;
    transform-origin: 0;
    /* transform-origin: left center; */
    transform: rotate(90deg);   
    padding-bottom: 40px;
}

.email:hover {
    color: var(--earthy-orange);
    transition: .4s;  
}


.sidebar-logo {
    color: var(--cyber-grey);
    transition: all .4s ease-in-out;
}

.sidebar-logo:hover {
    color: var(--earthy-orange);

    transform: translate(0px, -7px);
}

.sidebar-logo::after {
    background: var(--cyber-grey);
    content: "";
    height: 3px;
    width: 1px
}